    <suite name ="POM Project Test">

        <listeners>
            <listener class-name="org.example.Utils.TestListener"/>
        </listeners>

        <test name="Login Page">
<!--            `<groups>-->
<!--                <run>-->
<!--                    <include name="smoke"  />-->
<!--                </run>-->
<!--            </groups>`-->
            <parameter name="username" value="standard_user"/>
            <parameter name="password" value="secret_sauce"/>
            <classes>
                <class name ="org.example.Tests.LoginTest"/>
                <class name="org.example.Tests.InventoryTest"/>
            </classes>
        </test>

    </suite>